{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Node JS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatum eaque temporibus, praesentium
            amet mollitia! Eos recusandae itaque ad enim, debitis illo adipisci exercitationem nemo unde ea molestias
            quia explicabo.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/node.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}